.jumbotron {
     background-color: none;
}

.header-img {
     background-image: url("images/crystal_collector_banner.jpg");
}

.instructions {
     text-align: center;
}

p {
     text-align: left;
}

.spacer {
     height: 20px;
}

.square {
     padding:10px;
     border: none !important;
}